/* Sajid Chowdhury Feb 14, 2024 IT202-006 Phase 1 shc4@njit.edu */
/* Sajid Chowdhury Updated: Feb 26, 2024 IT202-006 Phase 1 shc4@njit.edu */

/* main page */
body {
    background-color: rgba(0, 153, 255, 0.1);
}

header {
    background-color: rgb(102,102,204, 0.4);
    padding: 40px;
    font-family:'Courier New', Courier, monospace;

}

header img {
    float: left;
}

header h1{
    padding-left: 75px;
    font-weight: stronger;
}

header hr, footer hr{
    height: 1px;
    background-color: black;
}

nav {
    text-align: center;
}

nav a[href] {
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}

nav a:focus, nav a:hover {
    color: white;
}

nav a:active {
    color: aquamarine;
}

nav a:link {
    color: black;
}


footer {
    background-color: rgb(102,102,204, 0.4);
    padding: 40px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}

#main_page {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main_page h2 {
    text-align: center;
    font-size: 40px;
}

#main_text {
    border: 3px dotted black;
    padding: 50px;
    font-size: 20px;
    margin: 20 30px;

}

main .home {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

div.home img.homeimg {
    height: 200px;
}

div.home #imggroup1, div.home #imggroup2, div.home #imggroup3, div.home #imggroup4{
    float: center;
    margin: 0px 35px;
    clear: right;
    border: 3px dotted black;
    margin-left: 500px;
    margin-right: 500px;
    padding: 10px 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}

#imggroup1 figcaption{
    text-align: center;
    font-size: 15px;
}


/* shipping page */

#form h2{
    text-align: center;
    font-size: 40px;
}

#form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#shipform {
    border: 5px dashed black;
    border-radius: 2%;
    margin-left: 420px;
    margin-right: 420px;
    padding: 30px 0px;
    margin-bottom: 30px;
}

form label {
    float:left;
    font-size: 20px;
}

form input {
    width: 100%;
    height: 35px;
    margin-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
}

/* shipping label */

#slabel h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px 
} 

#shipping_label {
    border: 5px solid black;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 50px 400px;
    padding: 0px;
    
}

div #usps {
    border: 3px solid black;
    float: left;
    margin-top: 0;
    margin-right: 350px;
    font-size: 50px;
    padding: 50px;
}

div #paid {
    border: 3px solid black;
    margin-left: 800px;
    margin-right: 50px;
    padding: 40px 50px;
    /*margin-bottom: 0px;*/
    clear: right;
}

#priority {
    margin-top: 60px;
    border: 3px solid black;
    font-size: 40px;
    padding: 30px 0px;
    margin-bottom: 0px;
}


#company {
    float: left;
    text-align: left;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 20px;
    clear: center;
}

#info {
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 800px;
    font-size: 20px;
    text-align: left;
    padding-right: 0px;
    clear: right;
}

#mailing_to {
    margin-top: 250px;
    text-align: left;
    font-size: 30px;
    margin-left: 150px;
    margin-bottom: 120px;
}

#ordernum, #tracking {
    font-size: 23px;
}

#barcode {
    width: 750px;
    height: 200px;
}

#line {
    min-height: 5px;
    background-color: black;
    margin-bottom: 90px;
}

/* Product page */

main.product h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

main.product table {
    text-align: center;
    border: 2px solid black;
    margin: 35px 60px;
    background-color: black;
}

table th {
    font-size: 20px;
    border: 2px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    padding: 10px 20px;
}

table td {
    text-align: center;
    padding: 10px 20px;
    border: 2px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

/* error page */

main.error h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

main.error p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    padding: 20px;
    color: red;
}